@import model.User
@(user:User)
@main(user,"Welcome to the Gallery!") {
<div class="page-header">
	<h1>Welcome to the gallery.</h1>
</div>
<div>
 <img src="images/WallOfPhotos.jpg" class="img-responsive center-block" alt="WallOfPhotos">
</div>
<div>
<br>
<div class="container">
	<p class ="text-center">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas nisi eu elit vestibulum tristique. Vestibulum consequat lectus sed mattis pretium. Sed vel metus sit amet sapien posuere molestie lacinia gravida arcu. Duis ac tempus magna, et venenatis est. Nam ornare eleifend arcu vel euismod. Aliquam congue viverra lectus ut aliquam. In non egestas magna, gravida elementum ante. Curabitur feugiat lectus sit amet enim interdum viverra. Sed quis porta leo. In et nisl eu leo feugiat vestibulum. Aenean non lorem quam. Etiam aliquam ex non fringilla eleifend. Donec ultricies quis libero non lacinia.

Fusce suscipit tortor eu arcu blandit, ut lacinia ipsum pharetra. Nulla lobortis a tortor et sagittis. Sed tempus nulla id nisl consectetur scelerisque. Donec sit amet magna nec turpis lacinia pretium. Maecenas vulputate ex sit amet molestie ullamcorper. Aliquam congue nec elit non vehicula. Donec auctor purus ut risus maximus, accumsan blandit diam pharetra. Fusce varius euismod lorem gravida venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit volutpat viverra. Pellentesque malesuada purus sem, quis placerat purus consequat a. Integer convallis, metus eu bibendum porta, arcu dolor tincidunt diam, ut ornare lorem sapien ac enim. Nullam hendrerit nisi ac nibh congue dignissim. Sed eu nisi non nulla ullamcorper molestie. Mauris aliquet orci quis erat auctor, id efficitur leo pellentesque. Sed nec posuere ante, vel blandit ipsum.

Phasellus in venenatis est, at fermentum libero. Suspendisse rhoncus magna felis, eget bibendum turpis feugiat ac. Maecenas ultricies rhoncus augue, ut varius nisl tincidunt nec. Morbi convallis, ipsum eu porttitor gravida, urna felis auctor ante, semper hendrerit nunc quam sed sapien. Donec malesuada non turpis eget luctus. Morbi vitae faucibus quam, sed imperdiet leo. Mauris vitae vehicula nisl. Donec magna libero, suscipit quis felis id, lacinia bibendum turpis. Curabitur dolor est, convallis in mollis eget, tristique ac ligula.

Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse sed posuere arcu. Morbi blandit urna ac imperdiet ornare. Morbi id sagittis mauris. Praesent auctor vulputate eros. Suspendisse diam risus, dapibus vel hendrerit ac, tincidunt quis risus. Nulla facilisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras quis mollis nibh. In nec ex nec nibh consequat lacinia non a enim. Donec mi sem, elementum vitae fermentum in, sollicitudin sed neque. Phasellus tempor feugiat mi, ac venenatis libero ultricies sed. Donec accumsan leo et finibus efficitur. Nam lacinia massa eget mauris ultricies consectetur. Ut posuere rutrum augue, a blandit leo fermentum et. Sed commodo ex enim, ut eleifend arcu sollicitudin a.

Etiam ligula tortor, accumsan id sagittis quis, pretium in tortor. In dignissim nunc vulputate, ornare purus nec, dictum nibh. In at euismod leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi sit amet convallis elit, et efficitur purus. Vivamus mattis venenatis sodales. Maecenas ullamcorper ultrices ipsum, eget vulputate metus vulputate quis. Sed rhoncus imperdiet velit, ut ornare justo porta eu.
	</p>
</div>
}
  
  